.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 40px;
  background-color: darkblue;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  padding: 40px 50px;
  max-width: 450px;
  align-items: center;
  &__title {
    margin-bottom: 40px;
  }
  &__field {
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
  }
  &__btn {
    padding: 10px 12px;
    cursor: pointer;
    color: #fff;
    background: darkblue;
    border: none;
    border-radius: 5px;
  }
}
